<div class="datetime-picker">

  <!-- Month - Year  -->
  <div class="month">
    <button type="button" class="prev" (click)="updateMonthData(-1)">&laquo;</button>
     <span title="{{dateTime.months[monthData.month].fullName}}">
           {{dateTime.months[monthData.month].shortName}}
     </span>
    {{monthData.year}}
    <button type="button" class="next" (click)="updateMonthData(+1)">&raquo;</button>
  </div>

  <div class="days">

    <!-- Su Mo Tu We Th Fr Sa -->
    <div class="day-of-week"
         *ngFor="let dayOfWeek of dateTime.localizedDaysOfWeek"
         [ngClass]="{weekend: dayOfWeek.weekend}"
         title="{{dayOfWeek.fullName}}">
      {{dayOfWeek.shortName}}
    </div>

    <!-- Fill up blank days for this month -->
    <div *ngIf="monthData.leadingDays.length < 7">
      <div class="day" *ngFor="let dayNum of monthData.leadingDays"
           [ngClass]="{weekend: [0,6].indexOf(toDate(monthData.year, monthData.month-1, dayNum).getDay()) !== -1}">
        {{dayNum}}
      </div>
    </div>

    <div class="day selectable"
         *ngFor="let dayNum of monthData.days"
         (click)="setDayNum(dayNum)"
         title="{{monthData.year}}-{{monthData.month+1}}-{{dayNum}}"
         [ngClass]="{
           selected:
             toDate(monthData.year, monthData.month, dayNum).getTime() === toDateOnly(selectedDate).getTime(),
           today:
             toDate(monthData.year, monthData.month, dayNum).getTime() === today.getTime(),
           weekend:
             [0,6].indexOf(toDate(monthData.year, monthData.month, dayNum).getDay()) !== -1
         }">
      {{dayNum}}
    </div>

    <!-- Fill up blank days for this month -->
    <div *ngIf="monthData.trailingDays.length < 7">
      <div class="day"
           *ngFor="let dayNum of monthData.trailingDays"
           [ngClass]="{weekend: [0,6].indexOf(toDate(monthData.year, monthData.month+1, dayNum).getDay()) !== -1}">
        {{dayNum}}
      </div>
    </div>
  </div>

  <!-- Time -->
  <div class="days" id="time" *ngIf="!dateOnly">
    <label class="timeLabel">Time:</label>
    <span class="timeValue">
      {{("0"+hour).slice(-2)}} : {{("0"+minute).slice(-2)}}
    </span><br/>
    <label class="hourLabel">Hour:</label>
    <input class="hourInput" type="range" min="0" max="23" [(ngModel)]="hour" />
    <label class="minutesLabel">Min:</label>
    <input class="minutesInput" type="range" min="0" max="59" range="10" [(ngModel)]="minute"/>
  </div>
</div>

<!--<hr/>-->
<!--Date: {{selectedDate}}<br/>-->
<!--Hour: {{hour}} Minute: {{minute}}<br/>-->
